<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Selenium Easy" parallel="methods" thread-count="2">
    <test name="Demo Tests">
        <classes>
            <class name="tests.etsy.AccountProfile"/>
            <class name="tests.etsy.AddToCart"/>
            <class name="tests.etsy.ClothingAndShoes"/>
            <class name="tests.etsy.Home"/>
            <class name="tests.etsy.Vintage"/>
        </classes>
    </test>
</suite>